---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-data-pvc
  namespace: hive-pulse
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: hive-pulse
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
        - name: kafka
          image: bitnamilegacy/kafka:latest
          ports:
            - containerPort: 9092
            - containerPort: 9093
          env:
            - name: KAFKA_ENABLE_KRAFT
              value: "yes"
            - name: KAFKA_CFG_NODE_ID
              value: "1"
            - name: KAFKA_CFG_PROCESS_ROLES
              value: "broker,controller"
            - name: KAFKA_CFG_CONTROLLER_QUORUM_VOTERS
              value: "1@kafka:9093"
            - name: KAFKA_CFG_LISTENERS
              value: "PLAINTEXT://:9092,CONTROLLER://:9093"
            - name: KAFKA_CFG_ADVERTISED_LISTENERS
              value: "PLAINTEXT://kafka:9092"
            - name: KAFKA_CFG_INTER_BROKER_LISTENER_NAME
              value: "PLAINTEXT"
            - name: KAFKA_CFG_CONTROLLER_LISTENER_NAMES
              value: "CONTROLLER"
            - name: KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE
              value: "false"
          volumeMounts:
            - name: kafka-data
              mountPath: /bitnamilegacy/kafka
      volumes:
        - name: kafka-data
          persistentVolumeClaim:
            claimName: kafka-data-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: hive-pulse
spec:
  type: ClusterIP
  selector:
    app: kafka
  ports:
    - port: 9092
      targetPort: 9092
      name: plaintext
    - port: 9093
      targetPort: 9093
      name: controller

---
apiVersion: batch/v1
kind: Job
metadata:
  name: kafka-init
  namespace: hive-pulse
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: kafka-init
          image: bitnamilegacy/kafka:latest
          command: ["/bin/bash", "-c"]
          args:
            - |
              echo 'Waiting for Kafka to be ready...';
              until kafka-broker-api-versions.sh --bootstrap-server kafka:9092 >/dev/null 2>&1; do
                echo "Kafka not ready yet, sleeping 2s..."
                sleep 2
              done;
              echo 'Kafka is ready! Creating topic device_telemetry...';
              kafka-topics.sh --bootstrap-server kafka:9092 \
                              --create \
                              --topic device_telemetry \
                              --partitions 12 \
                              --replication-factor 1;
              echo 'Topic device_telemetry created!';
